{% extends "base.html" %}

{% block title %}Nikolaos Vlagoidis | About Me{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
      <div class=" col-md-10 col-lg-offset-1 col-md-offset-1">
        <p> My name is Nikolaos Vlagoidis and i come from Greece. I studied at
         School of Informatics of Aristotle University of Thessaloniki! In my free
          time i am programming , playing and producing music and if i feel lazy
          i watch movies and play some video games.</p>
      </div>
    </div>
</div>

{% endblock %}
